body {
	background-color: #bbe1fa; 
	color: rgb(30, 30, 30);
	font-family: Courier;
	
}


h1 {
	color: brown;
	font-family: Helvtica;
	font-weight: 50;
	letter-spacing: 0px;
	font-size: 40px;
}


h2 {
	color: brown;
	font-family: Helvetica;
	font-weight: 50;
	letter-spacing: 0px;
	font-size: 30px;
}


p {
	color: rgb(30, 30, 30);
	font-family: Helvetica;
	font-weight: 50;
	letter-spacing: 0px;
	font-size: 20px;

}


a {
	text-decoration: none;
	color: blue;
	
}


a:hover {
	color: red;
}

.img-circle {
	border-radius: 50%;
}



